/* .row2, */
.navbar,
.row1 {
  background: #e9d37a;
/*     background: rgb(141, 220, 147); */
  color: #444;
  border: 2px solid darkgreen;
    padding-top: 5rem;
  padding: 1rem;
}
.row2 {
  background: #3e3200;
  color: #e9d37a;
  border: 2px solid darkgreen;
}

.btnDiv {
  border-radius: 5px;
  background: #e9d37a;
  text-align: center;
  width: 10%;
}
